/* GENERAL */
body, form, td, p, h1, h2, h3 {
	padding: 0px;
	margin: 0px;
	font-family: arial, sans-serif;
	font-size: 10pt;
}
.layout {
	padding: 0px;
	margin: 0px;
}
.content {
	margin-right: 265px;
	padding: 5px;
	padding-left: 10px;
}
.fullwidth {margin-right: 20px;}
.sidebar {
	float: right;
	width: 250px;
	padding: 5px;
}
.sidebar_bigger {
	float: right;
	width: 290px;
	padding: 5px;	
}
a {
	text-decoration: none;
	color: #3D72A4;
}
a:hover {
	background-color: #FFFFCC;
}
h1 {font-size: 1.4em; margin: 4px 0px 4px 0px;}
h2 {font-size: 1.2em; margin: 4px 0px 4px 0px;}
h3 {
	color: #666666;
	padding-top: 2px;
	border-top: 1px solid #DEDEDE;	
	font-size: 1.2em; 
	margin: 10px 0px 10px 0px;
}
.author {font-style: italic;}
.date {font-weight: bold;}
.selected {font-weight: bold;}
.scorebox {
	float: left;
	color: #000000;
	width: 40px;
	margin: 2px;
	margin-right: 10px;
	text-align: center;
}
.scorebox img {
	float: left;
	padding: 0px;
	margin: 0px;
}
.statsbox {
	background-color: #EDF4F5;
	color: #809FFF;
	padding: 5px;
	text-align: center;
}

.statsbox h2 {
	margin-top: 8px;
	color: #5C73B8;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: -2px;
}
.statsbox h3 {
	color: inherit;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: -2px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.statsbox h4 {
	color: inherit;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -1px;	
	margin: 4px;
	padding: 0px;
}
.statsbox a {color: #809FFF;}

.statsbox a:hover {
	background-color: transparent;
}
.rankbox {
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px;
}
.slidebox {
	height: 140px;
}
.slide {
	height:  120px;
	background-color: #FFFFFF;
}
.slide img {
	border: 1px solid #DEDEDE;
}
p {padding: 4px;}
.textbox {
	background-color: #FFFFBF;
	font-size: 16px;
	font-weight: bold;
}
.magnify {font-size: 1.4em;}
.shrink {font-size: 0.9em;}
.read_more {text-align: right;}
.rating {
	padding: 4px;
	background-color: #EEEEEE;
	border: 0px solid #DEDEDE;
	margin: 1px;
	text-align: center;
	font-size: 0.9em;
	color: #FFFFFF;
}
.rating1 {background-color: #400099;}
.rating2 {background-color: #660099;}
.rating3 {background-color: #990099;}
.rating4 {background-color: #CC0099;}
.rating5 {background-color: #E60066;}

.dhtml_link {
	cursor:  pointer;
}
.basic_thumbnail {
	float : left;
	margin: 4px;
	border: 1px solid #DEDEDE;
	width: 64px;
	height: 64px;
}

/* FRONTPAGE STUFF */
.frontpage_tabs {
	padding: 0px;
}
.frontpage_welcome {
	margin-bottom: 4px;
}
.frontpage_welcome p {}
.frontpage_welcome h1 {
	font-size: 42px;
	letter-spacing: -4px;
	margin-bottom:  10px;
}
.frontpage_welcome li {
	margin-bottom:  5px;
}
.frontpage_tab {
	float: left;
	width: 33%;
	min-width:  75px;
	min-height: 140px;
	padding: 0px;	
	padding-top: 0px;
	margin: 0px;
}
.frontpage_stats {
	float: right;
	height:  200px;
	padding: 5px;
	width: 10%;
	background-color: #EDF4F5;
}
.frontpage_footer {
	clear: both;
	height: 1px;
	width: 1px;
	line-height:  1px;	
	padding: 0px;
	margin: 0px;
}

/* STATS TABLES */
.stats_table {background-color: #EDF4F5; color: #809FFF;}

.even_row {	background-color: #EDF4F5; color: #809FFF;}
.odd_row {	background-color: #E5ECED; color: #809FFF;}

/* FEEDS */
.feedbox {
	padding: 2px;
}

/* IMAGES */
.imagebox {
	float: left;
	padding: 5px;
	margin: 5px;
	background-color: #EEEEEE;
	border: 1px solid #DEDEDE;
}

/* SEARCH BOX */
.searchbox {
	border: 2px solid #FFCC00;
	padding: 10px;
	background-color: #FFE680;
	margin-bottom: 20px;
	background-image: url('images/search_bg.png');
}
.searchbox h3 {
	margin-top: 0px;
	border: 0px;
}

/* PAGINATION */
.pagination {
	padding: 4px;
	text-align: center;
}
.pagebox {
	border: 1px solid #DEDEDE;
	padding: 0px 4px 0px 4px;
}
.current_pagebox {
	font-weight: bold;
	color: #000000;
	background-color: #EFEFDE;
}
.pagebox_rows {
	font-size: 0.9em;
	font-style: italic;
}

/* PAGE CONTROLS (ORDER BY x, LIMIT TO JOURNAL y, etc.) */
.controls {
	padding: 4px;
	text-align: center;
	font-size: 0.9em;
}

/* TAGS */
.tagbox {
	font-size: 0.9em;
	padding: 4px;
	margin-top: 2px;
	background-color: #EDF4F5;
	line-height: 150%;
}
.tagbox a {
	padding: 2px;
	margin: 2px;
	background-color: #E6ECFF;
	border-right: 1px solid #809FFF;
	border-bottom: 1px solid #809FFF;
}
.tagbox a:hover {
	color: #FF6600;
	border-right: 1px solid #FFE680;
	border-bottom: 1px solid #FFE680;
	background-color:  #FFF2BF;
}

.tagcloud {
	line-height: 150%;
}
.tagcloud a {
	padding: 2px;
	margin: 2px;
	background-color: #FFE6F9;
	border-right: 1px solid #FFBFEF;
	border-bottom: 1px solid #FFBFEF;
}
.tagcloud a:hover {
	color: #FF6600;
	border-right: 1px solid #FFE680;
	border-bottom: 1px solid #FFE680;
	background-color:  #FFF2BF;
}

.tagcloud_0 {font-size: 0.7em; color: #990099;}
.tagcloud_1 {font-size: 0.8em; color: #CC0099;}
.tagcloud_2 {font-size: 0.9em; color: #E60066;}
.tagcloud_3 {font-size: 1em; color: #E60066;}
.tagcloud_4 {font-size: 1.1em; color: #E60066;}
.tag_select {
	cursor: pointer;
}
.tag_selected {
	cursor: pointer;
	color: #24006B;
	font-weight: bold;
}
/* LINKS */
.linkbox {
	margin-top: 4px;
	
	margin-bottom: 4px;	
}
.linkbox_title {
	font-family:  serif;
	padding: 2px;
}
.linkbox_thumbnail {
	clear: left;
	float: left;
	margin: 4px;
	border: 1px solid #DEDEDE;
	width: 90px;
	height: 68px;
}
.linkbox_title a {
	color: #8C001A;
	font-size: 1.2em;
}
.linkbox_byline {
	font-size: 0.9em;
	margin: 4px 0px 4px 0px;
}
.linkbox_content {
	font-size: 0.9em;
}
.linkbox_content p {
	font-size: inherit;
	margin: 2px 0px 2px 0px;
	padding: 0px;
}
.linkbox_content ul {
	margin: 2px 0px 2px 0px;
}
.linkbox_footer {
	/* hack to get thumbnail to stay within div */
	clear: left;
	height: 1px;
	width: 1px;
	line-height:  1px;
	visibility: visible;
}
.linkbox_posts {
	padding: 10px;	
}

/* JOURNALS */
.journalbox {
	margin-top: 10px;
	
	margin-bottom: 4px;	
}
.journalbox_title {
	padding-top: 4px;
	font-family:  serif;
	font-size: 1.2em;
}
.journalbox_title a {color: #8C001A;}
.journalbox_footer {
	/* hack to get thumbnail to stay within div */
	clear: left;
	height: 1px;
	width: 1px;
	line-height:  1px;
	visibility: visible;
}

/* BLOGS */
.blogbox {
	margin-top: 10px;
	margin-bottom: 4px;
}
.blogbox_title {
	font-family:  serif;	
	padding: 2px;
	font-size: 1.2em;
}
.blogbox_title a {color: #8C001A;}
.blogbox_byline {
	padding: 5px;
	font-size: 0.9em;
}
.blogbox_thumbnail {
	float: left;
	margin: 4px;
	border: 1px solid #DEDEDE;
}
.blogbox_content {
	margin-left: 4px;
	font-size: 0.9em;
}
.blogbox_stats {
	margin: 5px;
	border: 1px solid #FF9900;
	font-size: 0.9em;
	background-color: #FFF9BF;	
}
.blogbox_stats td {
	font-size: inherit;
}
.blogbox_footer {
	/* hack to get thumbnail to stay within div */
	clear: left;
	height: 1px;
	width: 1px;
	line-height:  1px;
}
.blogbox .postbox {
	margin-left: 40px;
}
.blogbox img {
	border: 1px solid #DEDEDE;
}
.blogbox_tags {
	margin: 4px;
}

/* POSTS */
.postbox {margin-bottom: 4px;}
.postbox_title {	
	font-family:  serif;
	padding: 2px;
	font-size: 1.2em;
}
.postbox_title a {color: #8C001A;}
.postbox_byline {
	padding: 5px;
	font-size: 0.9em;
}
.postbox_thumbnail {
	clear: left;
	float: left;
	margin: 4px;
	border: 1px solid #DEDEDE;
	width: 64px;
	height: 64px;
}
.postbox_content {font-size: 0.9em;}
.postbox_content p {font-size: inherit;}
.postbox_footer {
	/* hack to get thumbnail to stay within div */
	clear: left;
	height: 1px;
	width: 1px;
	line-height:  1px;
	visibility: visible;
}
.postbox_postboxes .postbox {
	margin-left: 40px;
}

/* POPULAR POSTS */
.popular .postbox {}
.popular .postbox_title {}
.popular .postbox_title a {}
.popular .postbox_title a:hover {}

/* REVIEW POSTS */
.review .postbox {background-color: #FFF2BF;}
.review .postbox_title {
	background-color: #FFE680;
	color: #000000;
}
.review .postbox_title a {color: #000000;}
.review .postbox_title a:hover {color: #000000;}

/* PAPERS */
.paperbox {
	margin-top: 10px;
	
	margin-bottom: 4px;	
}
.paperbox_title {
	padding-top: 4px;
	font-family:  serif;
	font-size: 1.2em;
}
.paperbox_title a {color: #8C001A;}
.paperbox_byline {
	padding: 4px;
	font-size: 0.9em;
}
.paperbox_prompt {
	margin-top: 5px;
	padding: 5px;
}
.paperbox_add_comment {
	padding: 5px;
	background-color: #EFEFEF;
	margin-top: 5px;
}
.paperbox_add_comment h3 {
	margin-top: 0px;
	padding: 0px;
	border-top: none;
}
.paperbox_comments {margin-left: 40px;}
.paperbox_abstract {
	padding: 10px;
	background-color: #FFFFCC;
}
.paperbox_posts {margin-left: 40px;}

/* LOGIN FORM */
.loginform {
	border: 2px solid #FFCC00;
	padding: 10px;
	background-color: #FFE680;
}

/* FOOTER */
.footer {
	margin-top:  10px;
	border-top:  1px solid #EEEEEE;
	padding-top:  5px;
	font-size: 0.8em;
	text-align: center;
}

/* HEADER */
.title_banner {
	background-color: #FFFFFF;
	background-image: url('images/test.gif');
}
.title_logo {
	color: #FFFFFF;
	font-size: 40px;
	height: 46px;
	padding-left: 4px;
	font-weight: bold;
	padding-bottom: 4px;
	letter-spacing: -2px;
}
.title_subheading {
	font-size: 32px;
	letter-spacing: -1px;
	font-weight: normal;
}
.title_logo a {color: #FFFFFF;}
.title_logo a:hover {background-color: transparent;}
.title_category {
	color: #FFFFFF;
	float: right;
	height: 31px;
	margin-top: 10px;
	margin-right: 10px;
}
.title_menu {
	clear: both;
	color: #FFFFFF;
	background-color: #C0CC8F;
	padding: 5px;
}

.title_menu a {
	color: #FFFFFF;
	background-color: #B0BC7F;
	padding: 2px;
	padding-bottom: 5px;	
}
.title_menu a:hover {color: #000000;}
.title_menu .tab_selected {
	background-color: #C0CC8F;
	border: 0px;
	margin-left: 5px;
	margin-right: 5px;
}
.title_submenu {
	clear: both;
	color: #FFFFFF;
	background-color: #EFEFDE;
	padding: 5px;
}
.title_submenu a {
	color: #000000;
	padding: 2px;
	padding-bottom:  5px;
	background-color: #FFFFEE;
	border: 1px solid #DFDFCE;
	border-bottom: 0px;
	
}
.title_submenu .tab_selected {
	background-color: #EFEFDE;
	border: 0px;
	margin-left: 5px;
	margin-right: 5px;
}
.title_submenu a:hover {color: #000000;}
.title_login {
	margin-right: 10px;
	float: right;
}